@import "../home/home.component.scss";

.cards{
    margin-left: 25%;
    margin-top: 10px;
    width : 50%;
    
   
}
form {
    width: 550px;
    height: 560px;
    margin-left: 50px;
    position: relative;
   }
input {
    width: 400px;
    height: 30px;
   }
   