<div class="container-fluid page">
  <div class=" d-flex page__box p-3 mt-2 ">Ajout des nouveaux employées</div> 
    <div class="page__content shadow p-3 position-relative">
        <div  class="cards" >
            <div  class ="Column">
                <div class="card border card-stats">
                    <div class="card-header card-header-icon">
                        <div class="card-icon" style ="color:darkblue;">
                            <mat-icon>group_add</mat-icon>
                        </div>
                        <div class="card-category" style ="width:60% ; color:darkblue;">
                          <h5>remplire la formulaire</h5> 
                        </div>
                        <mat-divider></mat-divider>
                        <form style="margin-top: 20px;">
                            <div class="form-group">
                              <h6>Nom en fr</h6>
                              <input type="nomFr" class="form-control" id="nomFr" placeholder="le nom de l'employée en français">
                            </div>
                            <div class="form-group">
                              <h6>Nom en arabe</h6>
                              <input type="nomAr" class="form-control" id="nomAr"  placeholder="le nom de l'employée en arabe">
                            </div>
                            <div class="form-group">
                              <h6>prenom en fr</h6>
                              <input type="prenomFr" class="form-control" id="prenomFr"  placeholder="prenom de l'employée en français">
                            </div>
                            <div class="form-group">
                                <h6>prenom en arabe</h6>
                                <input type="prenomAr" class="form-control" id="prenomAr" placeholder="prenom de l'employée en arabe">
                              </div>
                            <div class="form-group">
                              <h6>id</h6>
                              <input type="Id" class="form-control" id="ID"  placeholder="Id">
                            </div>
                            <div class="form-group">
                              <h6>code CNRPS</h6>
                              <input type="codeCNRPS" class="form-control" id="codeCNRPS"  placeholder="code CNRPS">
                            </div>
                            <div class="form-group">
                              <h6>Carte d'identité</h6>
                              <input type="CIN" class="form-control" id="CIN" placeholder="CIN">
                            </div>
                            <div class="form-group">
                              <h6>address mail</h6>
                              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email">
                            </div>
                            <div class="form-group">
                                <h6>Numéro</h6>
                                <input type="numero" class="form-control" id="numero"  placeholder="numéro">
                              </div>
                              <div class="form-group">
                                <h6>mot de passe</h6>
                                <input type="MDP" class="form-control" id="MDP" placeholder="mot de passe">
                              </div>
                          </form>
                    </div> 
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary mb-2"> effectuer</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
