<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Ajout des nouveaux groupes</div>
  <div class="page__content shadow p-3 position-relative"> 
      <div class="cards">
          <div class ="Column">
              <div class="card border  card-stats">
                  <div class="card-header card-header-icon">
                      <div class="card-icon" style ="color:darkblue;">
                          <mat-icon>group_add</mat-icon>
                      </div>
                      <div class="card-category" style ="width:60% ; color:darkblue;">
                        <h5>remplire la formulaire</h5> 
                      </div>
                      <mat-divider></mat-divider>
                      <form style="margin-top: 20px;">
                          <div class="form-group">
                            <h6>Nom du groupe</h6>
                            <input type="Nom" class="form-control" id="Nom" placeholder="le nom du groupe">
                          </div>
                          <div class="form-group">
                            <h6>ID</h6>
                            <input type="id" class="form-control" id="id"  placeholder="Id ">
                          </div>
                          <div class="form-group">
                            <h6>Description</h6>
                            <input type="Description" class="form-control" id="Description" placeholder="Description">
                          </div>
                        </form>
                  </div> 
                  <div class="modal-footer">
                      <button class="btn btn-outline-primary mb-2"> effectuer</button>
                  </div>
              </div>
          </div>
      </div>
  </div> 
</div>
